@import 'variables.less';
@content-padding: 0.45em;
/* disappear */
.nomobile, .mw-header-personal-tools, .header-upper-item, .toc,
#p-variants-desktop,
#mw-page-header-links #ca-view,
#page-tools h2,
#other-languages h2,
.sidebar-chunk h3 {
	display: none;
}

/* Layout */

#mw-data-after-content,
#mw-footer {
	padding: 0 @content-padding;
}

.color-middle {
	margin: auto;
	width: 34%;
}

.categories-bottom();

#mw-header-container {
	background: @background;
}

#mw-header-hack {
	position: relative;
	z-index: 1;
	box-shadow: 0 3px 3px 2px rgba( 0, 0, 0, 0.075 ), 0 0 2px rgba( 0, 0, 0, 0.2 );
}

.color-right,
.color-middle,
.color-left {
	background: @red-dark;
}

/* Page header */

h1.firstHeading {
	/* Prevent indicators from interfering with title and causing overflow */
	clear: right;
}

/* Page actions */

#p-namespaces li {
	margin-right: 1.5em;
}

.tools-inline li a {
	.ca-icon-only();
}

#ca-more,
#ca-languages {
	&:after {
		margin-left: -0.35em;
	}

	span {
		.ca-icon-only();
		display: inline-block;
		overflow: visible;
	}
}

#ca-more span {
	.background-image-svg( 'images/gear-grey.svg', 'images/gear-grey.png' );
	background-repeat: no-repeat;
}

#ca-languages span {
	.background-image-svg( 'images/languages-grey.svg', 'images/languages-grey.png' );
	background-repeat: no-repeat;
}

/* Full-width thumbnails */

div.thumb {
	float: none;
}

.thumb {
	margin: 1em auto;
}

.floatright,
.tright {
	margin-left: 0;
	padding-left: 0;
}

.floatleft,
.tleft {
	margin-right: 0;
	padding-right: 0;
}

.thumbinner {
	padding: 0;
	width: 100% !important;
	box-sizing: border-box;
	img { width: 100%; }
	video { width: @mobile-width; }
}

.thumbcaption {
	padding: 0 3px;
}

.mw-body {
	border: 0;

	/* Keep images from overflowing */
	a > img {
		height: auto !important;
		max-width: 100% !important;
	}
}

#mw-content {
	padding: @content-padding;
	border-width: 0;
}

/* Table of contents */
.mw-warning {
	width: 100%;
	box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
.infobox { width:100% !important; }
}

#mw-site-navigation {
	position: fixed;
	top: 50px;
	height: 100vh;
	width: 50%;
	z-index: 1;
	display: none;
	justify-content: flex-end;
	.sidebar-chunk {
		padding: 5px;
		.mw-portlet-body { 
			margin: 0;
		}
	}
}
