@import 'variables.less';

body,
html {
	scroll-padding-top: @fixed-header-height + 0.5em;
}

div.mw-notification-area {
	top: @fixed-header-height + 0.25em;
}

/* hiding */
#mw-page-header-links #p-more,
#p-cnamespaces, #p-actions, #p-personal {
	display: none;
}

#header-personal-tools { display:flex; }

#mw-site-navigation {
	width: 10em;
	font-size: 0.95em;
	padding: 1em 1.5em 0;
	.mw-portlet-body {
		margin-bottom: 1em;
	}
}
