@import 'variables.less';

/* Page layout */

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: @fonts;
	color: @text;
	background: #F8F8F8;
	font-size: @font-size;
	line-height: 1.5;
}

.external , .toctogglelabel{
  color: #EE5A28 !important; 
}

span.oo-ui-labelElement-label {
  color: #EE5A28; 
}

button span.oo-ui-labelElement-label {
  color: #fff !important; 
}

#ca-view {
 	.hidden();
}	

#mw-content {
	.box;
	padding:13px;
	background: @background;
	margin:14px 13px 0 13px;
}

#mw-site-navigation {
        display:none;
	.column-left();
	width: 14em;
	position: relative;
	z-index: 8;
}

.mw-body {
	word-wrap: break-word;
}

#mw-footer-container {
	border-top: solid 1px @base20;
	box-shadow: inset 0 7px 2px -4px rgba(0, 0, 0, 0.1);
	color: @base100;

	ul {
		margin: 0;
	}
}

/* Search */
.search {
	.flex(1, 1, auto, unset);
	margin: 0 11px;
}

.simpleSearch {
	position: relative;
}

.searchInput {
	margin: 0;
	height: 2.1em;
	width: 100%;
	min-height: 0;
	font-family: inherit;
	&:focus {
		outline: none;
	}
	background: #333;
	border: none;
	border-radius: 15px;
	color: white;
}

.searchButton,
#mw-searchButton {
	position: absolute;
	margin: 0;
	padding: 0;
	right: 10px;
	width: 1.5em;
	height: 2.5em;
	.icon;
	.background-image-svg('images/search-ltr.svg', 'images/search-ltr.png');
	/* @noflip */
	background-position: center 40%;
	box-shadow: none;
}

.suggestions {
	background: @background;
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.05);

	.suggestions-special {
		background-color: @background;
		border: 1px solid @base70;
		border-bottom-width: @border;
		padding: 0.75em 2em;
	}

	.suggestions-results {
		background-color: @background;
		border: 1px solid @base70;
		border-bottom-width: @border;
	}

	.suggestions-result {
		color: @text;
		padding: 0.65em 2em 0.35em;
	}

	.suggestions-result-current {
		background-color: @blue;
		color: @background;
	}
}

.dropdown-toggle {
	.dropdown-header();
}

/* Footer */

#mw-footer {
	padding-top: 0.5em;
	padding-bottom: 1em;

	ul,
	li {
		margin: 1em 0;
		list-style: none;
		padding: 0;
	}

	.footer-icons {
		float: right;
		margin: 0 0 0 1em;

		li {
			margin: 0 0 1em 0;
		}
	}

	.footer-places li {
		display: inline;
		padding-right: 1em;
	}

	#lastmod,
	#credits,
	#copyright {
		display: block;
	}
}

/* Content */

.tools-inline,
.tools-inline & {

	div,
	ul,
	li {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}

.tools-inline li {
	margin: 0.25em 0 1em;
	border-bottom: solid 1px transparent;

	&:hover {
		border-bottom-color: @base70;
	}

	&.selected {
		border-bottom-color: @blue;

		a {
			color: @text;
		}
	}

	a {
		.ca-icon('images/page-misc-grey');
	}
}

#p-namespaces {
	float: left;

	li {
		margin-right: 1em;
	}
}

#p-views,
#p-more {
	float: right;

	li {
		margin-left: 1em;
	}
}

.tools-inline li[ id^='ca-nstab-'] a {
	.ca-icon('images/page-grey');
}

#siteNotice {
	font-size: 95%;
	margin: 0.5em auto 1.5em;
}

#localNotice {
	.box();
	padding: 0;
	text-align: center;

	p {
		margin-left: 1em;
		margin-right: 1em;
	}
}

/* Misc */

a {
	text-decoration: none;
	color: #ff5a28;

	&:hover {
		color: #FF7A48;
	}
}

a.new, .new a {
	color: #7846b4 !important;

	&:hover {
		color: #8946b4;
	}
}

a.mw-selflink {
	color: inherit;
	font-weight: bold;
	text-decoration: inherit;
}

.visual-clear {
	clear: both;
}

.mw-indicators {
	float: right;
}

.mw-indicator {
	display: inline-block;
}

div.magnify a {
	display: block;
	text-indent: 20px;
	white-space: nowrap;
	overflow: hidden;
	width: 20px;
	height: 20px;
	margin: 0 0 0.5em 0.5em;
	.background-image-svg('images/magnify-ltr.svg', 'images/magnify-ltr.png');
}

/* Subtitle area
 * @see https://phabricator.wikimedia.org/T173951
 */
#contentSub {
	font-size: 84%;
	color: @base20;

	/* This forces "redirect page" (on a redirect page) etc. on a new line */
	.subpages {
		display: block;
	}
}

code,
pre,
.mw-code {
	color: #000;
	background-color: @base90;
	border: 1px solid @base70;
}

code {
	padding: 1px 4px;
}

pre,
.mw-code {
	padding: 1em;
	/* Wrap lines in overflow. T2260, T103780 */
	white-space: pre-wrap;
}

.mw-body {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	dt {
		font-weight: normal;
		line-height: 1.125;
		margin: 20px 0 8px;
	}

	dt {
		font-weight: bold;
		line-height: 1.125;
		margin: 1.5em 0 0.5em;
		margin-bottom: 0.1em;
	}

	dl {
		margin-top: 0.2em;
		margin-bottom: 0.5em;
	}

	form dt {
		margin: 0 0.5em 0 0;
	}

	h1.firstHeading {
		margin: 0.25em 0 0.5em;
		border-bottom: solid 4px @blue;
	}

	h1 {
		font-size: 2em;
		border-bottom: solid 3px @base70;
	}

	h2 {
		font-size: 1.8em;
		border-bottom: solid 1px @base70;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.25em;
	}

	h6 {
		font-size: 1.2em;
	}

	dt {
		margin-top: 1em;
	}

	dd {
		margin-bottom: 1em;
	}

	.mw-changeslist-legend dt {
		margin: 0 0.5em 0 0;
	}

	.mw-changeslist-legend dd {
		margin-bottom: 0;
	}

	// overflow:hidden on the header itself breaks tall scripts, but we need to hide
	// overflow on the border itself in output for proper thumb handling. Too weird to
	// change this everywhere, so we'll just do it for parser output for now.
	.mw-parser-output {

		h1,
		h2 {
			border-bottom: 0;

			&:after {
				content: '';
				display: block;
				border-bottom: solid 1px @base70;
				overflow: hidden;
			}
		}

		h1:after {
			border-bottom-width: 2px;
		}
	}
}

#siteSub {
	margin: -0.5em 0 0.5em 0;
	font-style: italic;
	display: none;
}

hr {
	border-width: 1px;
	border-color: @base70;
	border-style: solid none solid none;
	margin: 0.5em 0;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

p {
	margin: 1em 0;
}

ul {
	padding: 0;
	margin: 0.3em 0 0 1.6em;
}

.mw-empty-elt {
	display: none;
}

.center {
	margin: auto;
	text-align: center;
}

/* Thumbnails */
/* @noflip */
.floatright,
.tright {
	margin: 0 0 0.5em 0.5em;
	padding: 0 0 1em 1.5em;
}

/* @noflip */
.floatleft,
.tleft {
	margin: 0 0.5em 0.5em 0;
	padding: 0 1.5em 1em 0;
}

.thumbinner {
	.box;
	padding: 0.75em;
	/* Properly center framed thumbnail images (T219717) */
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.thumbcaption {
	font-size: 90%;
	padding: 0.5em 0 0 0;
	text-align: justify;
	min-height: 1em;
}

.thumbinner .thumbimage,
.thumbborder {
	border: 1px solid #E0E0E0;
}

.mw-body li.gallerybox div.thumb {
	.box;
	padding: 0;
}

/* Tables of contents */
ul#filetoc,
.toc,
.mw-warning {
	display: table;
	.box;
	padding: 1.25em 1.75em;
	margin-top: 1em;
	margin-bottom: 1em;
	min-width: 15em;
}

.toc {
	line-height: 1.2;

	ul {
		margin: 1em 0 0;
		list-style: none;
		text-align: left;
	}

	li {
		margin: 0.3em 0;

		&:last-child {
			margin-bottom: 0.5em;
		}
	}
}

ul#filetoc {
	display: block;
	margin-bottom: 2em;
}

.mw-body .toctitle {
	border-bottom: solid 1px @base70;

	h2 {
		font-size: 1em;
		font-family: @fonts;
		margin: 0;
		display: inline;

		&:after {
			display: none;
		}
	}
}

.toctogglespan {
	float: right;
}

// Remove brackets around the show/hide button of the TOC
// The selectors have a higher specifity than in core
body :not( :checked)>.toctogglespan:before,
body :not( :checked)>.toctogglespan:after {
	content: '';
}

.toctogglelabel {
	padding-left: 0; // Overwrite label { padding-left: 0.5em; } from forms.less
	margin-left: 0.5em; // Create new distance to the TOC title without increasing the focus ring
}

.toclevel-1 {
	margin-bottom: 0.25em;
}

.tocnumber {
	color: @base20;
}

.skin-timeless .mw-body .oo-ui-tagMultiselectWidget-handle,
.skin-timeless .mw-body .oo-ui-capsuleMultiselectWidget-handle {
	margin: 0; // wat
}

.mw-body .mw-rcfilters-ui-changesListWrapperWidget .mw-changeslist-legend,
// wat
.mw-changeslist-legend,
.mw-body .mw-search-profile-tabs,
.mw-body fieldset#mw-searchoptions,
.wikitable,
.mw-datatable {
	color: @text;
	.box;
}

.mw-body .mw-search-profile-tabs {
	padding: 0.5em;
}

.mw-datatable,
.wikitable {
	border-color: @base70;

	>tr>th,
	>tr>td,
	>*>tr>th,
	>*>tr>td {
		border: 1px solid @base70;
		padding: 0.4em 0.5em;
	}

	>tr>th,
	>*>tr>th {
		border-bottom-width: 2px;
	}

	>tr>td,
	>*>tr>td {
		background: @base90;
	}
}

.mw-datatable th {
	background: @blue-bright;
}

.wikitable th {
	background: @base80;
}

/* Color bars */

.color-bar {
	width: 100%;
}

.color-left {
	height: @color-height;
	background: @red-dark;
	width: 50%;
	float: left;
}

.color-right {
	display: inline-block;
	height: @color-height;
	background: @green-dark;
	width: 50%;
	float: right;
}

.color-middle-container {
	max-width: @content-width;
	margin: 0 auto -@color-height;
	position: relative;
}

.color-middle {
	height: @color-height;
	background: @blue-dark;
	margin-left: @column-left-size + 1em;
	margin-right: @column-right-size + 1em;
}

/* Portlets */
.emptyPortlet,
#mw-page-header-links .emptyPortlet {
	display: none;
}

#p-lang.emptyPortlet {
	display: inherit;
}

/* Hidden stuff */

#p-namespaces h3,
#p-views h3,
#p-more h3,
.search h3 {
	.hidden;
}

.spacer {
	flex: 1 1 1px;
}

.mw-header-upper {
	height: 50px;
	background: #262626;
	color: #fff;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0px;
	
        .sidebar-button {
		width: 34px;
		height: 100%;
		border: none;
		background-image: url('/skins/Timeless/resources/images/menu.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
	.sidebar-button:hover {
		background-color: #fff;
	}
	
	a {
		color: #767676;
		cursor: pointer;
		display: flex !important;
		align-items: center;
		&:hover {
			background: #fff;
		}
	
	}	
	
	.header-upper-item {
		height: 100%;
		a {
			height: 100%;
			background-position: left center !important;
			padding: 0 8px;
			&:empty {
				padding: 0!important;
			}
		}
	}
}



.mw-header-personal-tools {
	display: flex;
	height: 100%;

	a {
		padding: 0 11px 0 35px;
		background-position: center left 10px;
		background-repeat: no-repeat;

		&:hover {
			font-size:0.95em !important;
		}

		&#pt-anoncontribs {
			background-image: url('/skins/Timeless/resources/images/personal-tools/anoncontribs.svg');
			font-size:0px;
		}
		
		&#pt-anontalk {
			background-image: url('/skins/Timeless/resources/images/personal-tools/mytalk.svg');
			font-size:0px;
		}

		&#pt-createaccount {
			background-image: url('/skins/Timeless/resources/images/personal-tools/createaccount.svg');
		}

		&#pt-login {
			background-image: url('/skins/Timeless/resources/images/personal-tools/login.svg');
		}

		&#pt-userpage {
			background-image: url('/skins/Timeless/resources/images/personal-tools/login.svg');
			font-size:0px;
		}

		&#pt-preferences {
			background-image: url('/skins/Timeless/resources/images/personal-tools/preferences.svg');
			font-size:0px;
		}

		&#pt-watchlist {
			background-image: url('/skins/Timeless/resources/images/personal-tools/watchlist.svg');
			font-size:0px;
		}

		&#pt-logout {
			background-image: url('/skins/Timeless/resources/images/personal-tools/logout.svg');
			font-size:0px;
		}

		&#pt-mycontris {
			background-image: url('/skins/Timeless/resources/images/personal-tools/anoncontribs.svg');
			font-size:0px;
		}
		
		&#pt-mytalk {
			background-image: url('/skins/Timeless/resources/images/personal-tools/mytalk.svg');
			font-size:0px;
		}
		
	}
}

#mw-content-container {
	border-bottom: none;
	background: #F8F8F8;
}

#mw-footer {
	background: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 22px;
	height: 50px;
	background: #F8F8F8;

	div {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	div:first-child {
		flex: 1 1 100px;
		margin-left: 0;
	}

	a {
		color: #262626;
	}
}

.page-title {
	color: #262626;
	border-bottom: 1px solid #D0D0D0;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 24px;
}

.text-red {
	color: #FF5A28;
}
