@import 'variables.less';

body,
html {
	scroll-padding-top: @fixed-header-height + 0.5em;
}

.ts-inner {
	max-width: @content-width;
	box-sizing: border-box;
	padding: 0 1em;
	margin: auto;
}

div.mw-notification-area {
	top: @fixed-header-height + 0.25em;
}

/* hiding */
#p-variants,
#other-languages.variants-only,
#mw-page-header-links #p-more,
#p-cnamespaces, #p-actions, #p-personal {
	display: none;
}

#header-personal-tools { display:flex; }

.client-nojs #personal:hover {
	.pokey,
	.dropdown {
		display: block !important;
	}
}

/* Content */

#mw-content-container {
	padding-bottom: 1em;
}
