@import 'mediawiki.mixins';

// Colours; see https://design.wikimedia.org/style-guide/visual-style_colors.html

@base100: #fff;
@base90: #faf9f8;
@base80: #e0e0e0;
@base70: #c8ccd1;
@base20: #54595d;
@base0: #000;

@red-dark: #b32424;
@green-dark: #14866d;

@blue: #36c;
@blue-bright: #eaf3ff;

@background: @base100;
@text: @base0;

@fonts: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Liberation Sans', 'Noto Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
@font-size: 0.95em;

@border: 0.2em;

@mobile-width: 850px;

// The max-width for the content
@content-width: 115em;
@content-padding: 2em;
@column-left-size: 14em;
@column-right-size: 16em;

@fixed-header-height: 50px;

@base-red: #FF5A28;
@base-black: #262626;

// Timeless functions
@import 'mixins.less';
