body {
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.centerX {
    display: flex;
    justify-content: center;
}

.centerY {
    display: flex;
    align-items: center;
}

.centerXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerY {
    display: flex;
    align-items: center;
}

.main-page {
    padding: 22px;
}

.main-page * {
    color: #262626;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.main-page-summary {
    min-height: 125px;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.main-page-summary ul {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.main-page-summary ul li {
    flex: 0 0 33%;
    font-size: 14px;
    padding: 5px 0;
}

.main-page-summary ul li img {
    margin-right: 6px;
}

.main-page .section-title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
}

.main-page .featured-article-container {
    display: flex;
    flex-wrap: wrap;
}

.main-page .featured-article-container .big-focus {
    flex: 0 0 32%;
    height: 612px;
    padding-bottom: 20px;
}

.main-page .featured-article-container .small-focus {
    flex: 0 0 68%;
    display: flex;
    flex-wrap: wrap;
}

.main-page .big-focus .article {
    height: 100%;
}

.main-page .small-focus .article {
    flex: 0 0 calc(25% - 20px);
    margin: 0 0 20px 20px;
}

.main-page .article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background-size: cover;
}

.main-page .article .article-name {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding-bottom: 12px;
}

.main-page .article .article-text {
    color: #fff;
    padding-bottom: 12px;
}

.main-page .article .article-link {
    display: flex;
    align-items: center;
}

.main-page .article .article-link a {
    color: #FF5A28;
    text-decoration: none;
}

.main-page .article .article-link img {
    margin-right: 8px;
}

.main-page .group-layout {
    display: flex;
    flex-wrap: wrap;
}

.main-page .group-layout .group-item {
    flex: 0 0 calc(50% - 10px);
}

.main-page .group-layout .group-box {
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 20px;
}

.main-page .group-layout .group-item:nth-child(odd) {
    margin-right: 20px;
}

.main-page .group-layout .group-box-item {
    margin-bottom: 10px;
}

.main-page .group-layout .group-box-item img {
    margin-right: 6px;
}

.main-page .group-layout .group-box-item-image {
    display: flex;
    margin-bottom: 23px;
}

.main-page .group-layout .group-box-item-image .img-container {
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.main-page .group-layout .group-box-item-image .img-container img {
    max-width: 100%;
    max-height: 100%;
}

.main-page .item-title {
    font-weight: bold;
}

.text-red {
    color: #FF5A28;
}

@media only screen and (max-width: 1100px) {
    .welcome-container {
        text-align: center;
        flex: 0 0 100%;
    }

    .main-page-summary ul {
        flex: 0 0 100%;
    }
    .main-page-summary ul li {
        text-align: center;
    }

    .main-page .group-layout .group-item {
        flex: 0 0 100%;
    }

    .main-page .featured-article-container .big-focus {
        flex: 0 0 100%;
        height: calc(100vw - 44px);
        margin-bottom: 20px;
    }

    .main-page .featured-article-container .small-focus {
        flex: 0 0 100%;
    }

    .main-page .small-focus .article {
        flex: 0 0 100%;
        margin: 0 0 20px 0;
        height: calc(100vw - 44px);
    }

    .main-page .big-focus .article {
        flex: 0 0 100%;
        height: calc(100vw - 44px);
    }
}